extends layout

block content
  nav.tm-navbar.uk-navbar.uk-navbar-attached
    div.uk-container.uk-container-center.b-header
      div.uk-navbar-brand.uk-navbar-center Генератор купонов
  div.uk-container-center.b-main
    div.uk-alert.uk-alert-danger.uk-alert-large.uk-margin-large-top!= msg
