extends layout

block content
  nav.tm-navbar.uk-navbar.uk-navbar-attached
    div.uk-container.uk-container-center.b-header
      div.uk-navbar-brand Генератор купонов
      ul.uk-navbar-nav
        li
          a(href="/") Купоны
        li
          a(href="/import-export") Импорт/Экспорт
        li
          a(href="/zadaniya") Задания
        li.uk-active
          a(href="/opisanie") Описание
  div.uk-container-center.b-main
    h3.uk-margin-top Приложение для генерации купонов, позволяет:
    ul.uk-list.uk-list-line.uk-margin-top-remove.uk-margin-left
      li массовое создание и удаление
      li создание по шаблонам(количество символов, количество групп символов и т.д.)
      li экспорт в эксель/импорт из экселя
    p Купоны всегда создаются только заглавными буквами, следующие символы заменяются, чтобы не было путаницы при вводе.
    ul.uk-list.uk-list-line.uk-margin-top-remove.uk-margin-left
      li O -> 0
      li I -> 1
      li Z -> 2
      li S -> 5
    h3.uk-margin-top Описание работы
    img(src="/img/desc/1.png")
    p После установки приложения, оно автоматически выгрузит все купоны из вашего магазина, если есть. Это может занять от нескольких секунд, до нескольких часов(при большой загруженности приложения). Главная страница будет выглядеть так
    img(src="/img/desc/2.png")
    p или так
    img(src="/img/desc/3.png")
    p При нажатии на кнопку "Создать купоны", появится форма. Все поля сохраняются, т.е. если вы ввели 100 купонов длинной 9 символов, то зайдя через неделю в форме будут стоять 100 купонов и 9 символов. Поэтому будьте внимательны к последнему выпадающему списку. Если вы там выберете "создать новые, удалив все текущие", этот выбор сохранится и будет стоять в следующий раз.
    img(src="/img/desc/4.png")
    p После нажатия "сгенерировать", будет создано задание
    img(src="/img/desc/5.png")
    p На странице заданий находится список всех ваших действий. Т.е. нажатие на любую кнопку в приложении создаёт задание, которое в порядке очереди будет выполнено.
    img(src="/img/desc/6.png")
    p Задания находящиеся в ожидании, помечаются синим цветом
    img(src="/img/desc/7.png")
    p Выполненные зелёным
    img(src="/img/desc/8.png")
    p Если случилась ошибка во время выполнения, то красным
    img(src="/img/desc/9.png")
    p На странице "Импорт/Экспорт" можно загрузить xlsx файл, либо создать задание на выгрузку xlsx файла
    img(src="/img/desc/10.png")
    p Для импорта нужно правильное расположение столбцов. На странице есть описание, лучше сделать экспорт с парой купонов и уже на основании этого файла делать импорт. Если приложение не сможет распознать какой-то кусок в файле, то на странице заданий будет запись где конкретно ошибка, на картинке выше это видно.
    img(src="/img/desc/11.png")
    p При нажатии на "Создать файл xlsx", будет создано задание, после окончания которого можно будет скачать файл.
    img(src="/img/desc/12.png")
    p Кнопка "Синхронизировать купоны" просто скачивает купоны из вашего магазина. Использовать её не нужно, т.к. перед любым действием(создание купонов, удаление, экспорт и т.д.) синхронизация делается автоматически
    img.uk-margin-large-bottom(src="/img/desc/13.png")
