extends layout

block content
  nav.tm-navbar.uk-navbar.uk-navbar-attached
    div.uk-container.uk-container-center.b-header
      div.uk-navbar-brand Генератор купонов
      ul.uk-navbar-nav
        li.uk-active
          a(href="/") Купоны
        li
          a(href="/import-export") Импорт/Экспорт
        li
          a(href="/zadaniya") Задания
        li
          a(href="/opisanie") Описание
      div.uk-navbar-flip
        ul.uk-navbar-nav
          li.uk-parent(data-uk-dropdown)
            a.uk-navbar-toggle.b-more(href="#more")
            div.uk-dropdown.uk-dropdown-navbar.b-dropdown
              ul.uk-nav.uk-nav-navbar
                li
                  a(href="#changelog", data-uk-offcanvas) Изменения в приложении
                li
                  a(href="#predlojeniya", data-uk-offcanvas) Отзывы и предложения
  div#predlojeniya.uk-offcanvas
    div.uk-offcanvas-bar.uk-offcanvas-bar-flip
      div#kament_comments
  div#changelog.uk-offcanvas
    div.uk-offcanvas-bar.uk-offcanvas-bar-flip
  script(type="text/javascript")
   | var kament_subdomain = 'salescoupons';
   | var kament_page_url = 'http://coupons.salesapps.ru';
   | (function() {
   | var node = document.createElement('script'); node.type = 'text/javascript'; node.async = true;
   | node.src = 'http://' + kament_subdomain + '.svkament.ru/js/embed.js';
   | (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(node);
   | })();
  div.uk-container-center.b-main
    form.uk-form.uk-margin-top
      fieldset(data-uk-margin)
        legend Создать купоны
        div.uk-form-row
          div.uk-form-icon
            i.uk-icon-hand-o-right
            input#c-num(name="c-num", type="number", min="1", max="10000", value="5")
          label.uk-form-label.uk-margin-left(for="c-num") количество купонов
        div.uk-form-row
          div.uk-form-icon
            i.uk-icon-hand-o-right
            input#c-part(name="c-part", type="number", min="1", max="5", value="3")
          label.uk-form-label.uk-margin-left(for="c-part") количество частей
        div.uk-form-row
          div.uk-form-icon
            i.uk-icon-hand-o-right
            input#c-partlen(name="c-partlen", type="number", min="4", max="10", value="6")
          label.uk-form-label.uk-margin-left(for="c-partlen") длина каждой части
        div.uk-form-row
          div.uk-form-select.uk-button(data-uk-form-select)
            span
            i.uk-icon-caret-down.uk-margin-small-left
            select
              option создать новые, удалив все текущие
              option создать новые, добавив к текущим
              option создать новые, удалив только использованные
              option создать новые, удалив только не использованные
          i.uk-icon-question-circle.uk-icon-medium.uk-margin-small-left(data-uk-tooltip="{pos:'left'}", title="<ol><li>Будут удалены абсолютно все текущие купоны и созданы новые.</li><li>К существующим купонам будут добавлены новые. Возможные дубли будут игнорироваться.</li><li>Будут удалены использованные купоны из текущих. К оставшимся будут добавлены новые.</li><li>Будут удалены не использованные купоны из текущих. К оставшимся будут добавлены новые.</li></ol>")
        button.uk-button сгенерировать
    form.uk-form.uk-margin-top
      fieldset(data-uk-margin)
        legend Удалить купоны
        div.uk-form-row
          div.uk-form-select.uk-button(data-uk-form-select)
            span
            i.uk-icon-caret-down.uk-margin-small-left
            select
              option создать новые, удалив все текущие
              option создать новые, добавив к текущим
              option создать новые, удалив только использованные
              option создать новые, удалив только не использованные
          i.uk-icon-question-circle.uk-icon-medium.uk-margin-small-left(data-uk-tooltip="{pos:'left'}", title="test<br />test2")
        button.uk-button удалить
