extends layout

block content
  nav.tm-navbar.uk-navbar.uk-navbar-attached
    div.uk-container.uk-container-center.b-header
      div.uk-navbar-brand Генератор купонов
      ul.uk-navbar-nav
        li
          a(href="/") Купоны
        li.uk-active
          a(href="/import-export") Импорт/Экспорт
        li
          a(href="/zadaniya") Задания
        li
          a(href="/opisanie") Описание
  div.uk-container-center.b-main
    h3.uk-margin-top Экспорт
    div.uk-text-center
      a.uk-button#button-export(data-uk-tooltip="{pos:'bottom'}", title="Будет создано задание, после окончания которого можно будет скачать файл coupons.xlsx со страницы заданий.") Создать файл xlsx
    h3.uk-margin-top Импорт
    div#upload-drop.uk-placeholder.uk-text-center(data-uk-tooltip="{pos:'bottom'}", title="Возможен импорт только <b>xlsx</b> файлов, формат можно посмотреть сделав экспорт. Максимальный размер <b>5МБ</b>.<br />При импорте новые купоны добавляются к существующим, если были изменения в существующих, они обновятся. Если нужно удалить какие-то, лучше сделать на предыдущей странице удаление, а потом импорт.")
      i.uk-icon-cloud-upload.uk-icon-medium.uk-text-muted.uk-margin-small-right
      | Перетащите файл сюда или 
      a.uk-form-file выберите
        input#upload-select(type="file", accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet")
    div#progressbar.uk-progress.uk-hidden
      div.uk-progress-bar(style="width:0%;")
    h3.uk-margin-top-remove Описание столбцов
    dl.uk-description-list-line
      dt Код купона
        b (*)
      dd буквы и символы
      dt Тип купона
        b (*)
      dd одноразовый/многоразовый
      dt Тип скидки
        b (*)
      dd процент/денежная величина
      dt Величина скидки
        b (*)
      dd Число, возможна дробная часть отделённая точкой(например 10.23 или 15)
      dt Описание
      dd Текстовое описание купона
      dt Группа категорий
      dd При импорте игнорируется
      dt Минимальная сумма заказа
      dd Число
      dt Использовать только один раз для каждого клиента
        b (*)
      dd да/нет
      dt Действитель по
      dd Дата в формате число-месяц-год, например 01-12-2015
      dt Заблокирован
        b (*)
      dd да/нет
      dt Использован
      dd При импорте игнорируется
      p
        b (*) 
        | &mdash; обязательное поле
