mixin list(val)
  ul.uk-list
    li
      strong Тип задания: 
      if val.type == 1
       | создание купонов
      else if val.type == 2
       | синхронизация купонов
      else if val.type == 3 || val.type == 6
       | удаление купонов
      else if val.type == 5
       | синхронизация купонов
    if val.type == 1 || val.type == 3
      li
        strong Вариант: 
        if val.variant == 1
         | создать новые, удалив все текущие
        else if val.variant == 2
         | создать новые, добавив к текущим
        else if val.variant == 3
         | создать новые, удалив только использованные
        else if val.variant == 4
         | создать новые, удалив только не использованные
    if val.type == 6
      li
        strong Вариант: 
        if val.variant == 1
         | удалить все текущие
        else if val.variant == 3
         | удалить только использованные
        else if val.variant == 4
         | удалить только не использованные
    if val.type == 1
      li
        strong Количество купонов: 
        = val.numbers
    if val.status == 2 || val.status == 1
      li
        strong Дата создания: 
        = val.created
    else
      li
        strong Дата создания: 
        = val.created
      li
        strong Дата выполнения: 
        = val.updated

extends layout

block content
  nav.tm-navbar.uk-navbar.uk-navbar-attached
    div.uk-container.uk-container-center.b-header
      div.uk-navbar-brand Генератор купонов
      ul.uk-navbar-nav
        li
          a(href="/") Купоны
        li
          a(href="/import-export") Импорт/Экспорт
        li.uk-active
          a(href="/zadaniya") Задания
        li
          a(href="/opisanie") Описание
  div.uk-container-center.b-main
    h2.uk-h2.uk-margin-small-top Список заданий
    each val in processing
      div.uk-alert.uk-alert-warning(data-uk-tooltip, title="выполняется")
        +list(val)
    each val in tasks
      if val.status == 2
        div.uk-alert.uk-alert-warning(data-uk-tooltip, title="выполняется")
          +list(val)
      else if val.status == 3
        div.uk-alert.uk-alert-success(data-uk-tooltip, title="выполнено")
          +list(val)
      else if val.status == 1
        div.uk-alert(data-uk-tooltip, title="в очереди")
          +list(val)
    each val in done
      div.uk-alert.uk-alert-success(data-uk-tooltip, title="выполнено")
        +list(val)