.tm-navbar
  padding 15px 0
  border none
  background #000

.tm-navbar .uk-navbar-content,
.tm-navbar .uk-navbar-brand,
.tm-navbar .uk-navbar-toggle
  color #CCC
  height 40px
  margin-top 0
  text-shadow none

.tm-navbar .uk-navbar-nav > li > a
  color #CCC
  height 40px
  margin 0
  border none
  border-radius 3px !important
  text-shadow none
  font-size 15px

.tm-navbar .uk-navbar-nav > li
  margin-left 20px

.tm-navbar .uk-navbar-nav > li:hover > a,
.tm-navbar .uk-navbar-nav > li > a:focus,
.tm-navbar .uk-navbar-nav > li.uk-open > a
  border none
  color #FFF

.tm-navbar .uk-navbar-nav > li.uk-active > a
  background-color #2BA3D4
  color #FFF

.tm-navbar .uk-navbar-nav > li > a:active
  background-color transparent
#predlojeniya > .uk-offcanvas-bar
  width 500px
  padding 0px 10px
.b-header
  min-width 915px
.b-main
  width 600px
#c-num, #c-part, #c-partlen
  width 95px
  text-align center
.uk-tooltip-inner
  text-align left
.uk-tooltip-inner > ol
  padding-left 15px
  margin-bottom 0px
#coupon-sample
  padding-left 10px
.coupon-sample
  font-size 17px
#c-partlen-error, #c-part-error, #c-num-error, #discount-error, #until-error, #group-error
  display none !important
.uk-icon-percent::before
  content '%'
  font-weight bold
.b-discount
  width 102px
#until
  width 112px
.b-more:after
  font-size 25px
.b-dropdown
  width 210px
.uk-notify-message-success
  width 450px
.b-buttons
  width 480px
#coupons
  width 600px
  height 500px
  background white
  outline 0
  border 1px solid gray

.grid-header
  border 1px solid gray
  border-bottom 0
  border-top 0
  background url('../images/header-bg.gif') repeat-x center top
  color black
  height 24px
  line-height 24px

.grid-header label
  display inline-block
  font-weight bold
  margin auto auto auto 6px

.grid-header .ui-icon
  margin 4px 4px auto 6px
  background-color transparent
  border-color transparent

.grid-header .ui-icon.ui-state-hover
  background-color white

.grid-header #txtSearch
  margin 0 4px 0 4px
  padding 2px 2px
  -moz-border-radius 2px
  -webkit-border-radius 2px
  border 1px solid silver

.options-panel
  -moz-border-radius 6px
  -webkit-border-radius 6px
  border 1px solid silver
  background #f0f0f0
  padding 4px
  margin-bottom 20px
  width 320px
  position absolute
  top 0px
  left 650px

.slick-cell.task-name
  font-weight bold
  text-align right

.slick-cell.task-percent
  text-align right

.slick-cell.cell-move-handle
  font-weight bold
  text-align right
  border-right solid gray
  background #efefef
  cursor move

.cell-move-handle:hover
  background: #b6b9bd

.slick-row.selected .cell-move-handle
  background #D5DC8D

.slick-row .cell-actions
  text-align left

.slick-row.complete
  background-color #DFD
  color #555

.percent-complete-bar
  display inline-block
  height 6px
  -moz-border-radius 3px
  -webkit-border-radius 3px