.tm-navbar
  padding 15px 0
  border none
  background #000

.tm-navbar .uk-navbar-content,
.tm-navbar .uk-navbar-brand,
.tm-navbar .uk-navbar-toggle
  color #CCC
  height 40px
  margin-top 0
  text-shadow none

.tm-navbar .uk-navbar-nav > li > a
  color #CCC
  height 40px
  margin 0
  border none
  border-radius 3px !important
  text-shadow none
  font-size 15px

.tm-navbar .uk-navbar-nav > li
  margin-left 20px

.tm-navbar .uk-navbar-nav > li:hover > a,
.tm-navbar .uk-navbar-nav > li > a:focus,
.tm-navbar .uk-navbar-nav > li.uk-open > a
  border none
  color #FFF

.tm-navbar .uk-navbar-nav > li.uk-active > a
  background-color #2BA3D4
  color #FFF

.tm-navbar .uk-navbar-nav > li > a:active
  background-color transparent
#predlojeniya > .uk-offcanvas-bar
  width 500px
  padding 0px 10px
.b-header
  min-width 915px
.b-main
  width 600px
#c-num, #c-part, #c-partlen
  width 95px
  text-align center
.uk-tooltip-inner
  text-align left
.uk-tooltip-inner > ol
  padding-left 15px
  margin-bottom 0px
#coupon-sample
  padding-left 10px
.coupon-sample
  font-size 17px
#c-partlen-error, #c-part-error, #c-num-error, #discount-error, #until-error, #group-error
  display none !important
.uk-icon-percent::before
  content '%'
.uk-notify-message-success
  width 450px